/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My changes start here */
.page {
    height: 100vh;
}

hr {
    background-color: black;
}

.page:nth-of-type(2n) {
    background-color: gray;
}

.landing-page {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-page {
    display: flex;
    align-items: center;
}

.skills-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.skill-category {
    border: 2px solid black;
    min-width: 25vw;
    text-align: center;
}

#name-box {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 7rem;
    text-transform: uppercase;
}

#name-box p {
    font-size: 2rem;
    padding-top: 0.5rem;
}

/* Education page */
.education-page {
    display: flex;
    align-items: center;
}

.education-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.education-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.edu-box {
    border: 2px solid black;
    min-width: 25vw;
    min-height: 100%;
    text-align: center;
}

/* Projects Page */
.projects-page {
    display: flex;
    align-items: center;
}

.project-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.project-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.proj-box {
    border: 2px solid black;
    width: 25vw;
    min-height: 100%;
    text-align: center;
}

/* about me section */
img {
    width: 400px;
    height: 400px;
}


