/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------- */
/* My Changes Start Here: */
/* ---------------------- */

/* Current color palette: https://colorhunt.co/palette/040d12183d3d5c837493b1a6 */
h2 {
    padding-top: 1vw;
    font-size: 3vw;
}

p {
    font-size: 2.5vw;
    padding-top: 1vw;
}

.backgroundScrollColor {
	background-color: #1e1e1e;
}


/* ------------ */
/* LANDING PAGE */
/* ------------ */

#trail {
	position: absolute;
	width: 7px;
	height: 7px;
	background-color: #5C8374;
	border-radius: 50%;
	pointer-events: none;
	opacity: 1;
	transition: opacity 0.8s linear, transform 0.8s linear;
}


h1 {
    font-size: 10vw;
}

.landingPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Darker Grotesque";
	color: #5C8374;
	background-color: white;
}
/* ------------ */
/* ABOUT ME PAGE */
/* ------------ */

.aboutMePage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:#183D3D;
}

.aboutMePage h2 {
	font-family: "Darker Grotesque";
	color: #93B1A6;
	font-size: 6vw;
	margin-top: 5%;
	margin-bottom: 5%;
}

@media (max-width: 1024px){
	.mainAboutMe {
		margin-bottom: 100px;
		display: flex;
		flex-direction: column-reverse; 
		align-items: center;
		justify-content: space-evenly;
	}

	.pictureMe {
		width: 50vw;
	}
}

@media (min-width: 1024px) {
	.mainAboutMe {
		margin-bottom: 100px;
		display: flex;
		flex-direction: row; 
		align-items: center;
		justify-content: space-evenly;
	}

	.pictureMe {
		width: 30vw;
	}
}

.aboutMePage img {
	height: 100%;
	width: 100%;
	border: 1px solid #93B1A6;
	border-radius: 5%;
}

.codeText {
	white-space: pre-wrap;
	font-family: 'Courier Prime', monospace;
	border: 1px solid #93B1A6;
	border-radius: 5%;
	padding: 1rem;
	color: white;
	background-color: #183D3D;
}

.greyCode {
	color: grey;
}

.pinkCode {
	color: fuchsia;
}

.greenCode {
	color: #a5d46a;
}

.yellowCode {
	color: #ffff80;
}

.blueCode {
	color: lightBlue;
}

.redCode {
	color: #ffa080;
}

.pinkCode {
	color: pink;
}

.orangeCode {
	color: orange;
}

/* ------------ */
/* COURSEWORK PAGE */
/* ------------ */

.courseworkPage {
	background-color: #93B1A6;
	color: #183D3D;
	font-family: "Darker Grotesque";
	display: flex; 
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.courseworkPage div {
	padding-bottom: 1vw;
}

.courseworkPage h2 {
	font-size: 6vw;
	padding-top: 4vw;
	padding-bottom: 4vw;
}

.courseworkPage div p {
	text-align: center;
	font-size: 2rem;
	padding: 0.2rem;
}

.courseworkPage h3 {
	font-size: 4vw;
	text-align: center;
}

.totalCoursework {
	border: 2px solid #183D3D;
	border-radius: 5%;
	padding: 1vw 2vw;
	margin-bottom: 5vw;
}

/* ------------- */
/* PROJECTS PAGE */
/* ------------- */
.projectsPage {
	display: block;
	background-color: #1e1e1e;
	color: #93B1A6;
	padding-bottom: 10vh;
}

.projectsPage h2 {
	font-family: "Darker Grotesque";
	text-align: center;
	padding-top: 2vw;
    font-size: 5vw;
}

.projectFlex {
	display: flex;
	align-items: center;
}

.projectBox {
	border: 1px solid #93B1A6;
	border-radius: 5%;
	width: 30%;
	height: 400px;
}

/* -------------------- */
/* MOBILE MEDIA QUERIES */
/* -------------------- */
