/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My changes start here */
/* General page things */
.page {
    height: 100vh;
}

hr {
    background-color: black;
}

.page:nth-of-type(2n) {
    background-color: black;
    color: white;
    border-color: white;
}

.page-content-row {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
}

.page-content-col {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.tags {
    height: 10%;
    width: 100%;
}

.boxes-row {
    height: 80%;
    width: 100%;
}

/* Landing Page */
.landing-page {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 100%;
}

#landing-name {
    height: 20%
}

#brut-divider {
    height: 30%;
    width: 100%;
    border: 3px solid black;
}

#landing-information {
    height: 50%;
    width: 100%;
    border: 3px solid black;
    margin-top: 5px;
}

#right-landing {
    height: 99%;
    width: 35%;
    border: 3px solid black;
    margin-left: 6px;
}

img {
    width: 32%;
}

h1 {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 8rem;
    text-transform: uppercase;
}

/* Skills page */

.skills-page {
    display: flex;
    align-items: center;
}

.skills-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.skill-category {
    border: 2px solid;
    min-width: 25vw;
    text-align: center;
}

/* Education page */
.education-page {
    display: flex;
    align-items: center;
}

.education-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.edu-box {
    border: 2px solid;
    min-width: 25vw;
    min-height: 100%;
    text-align: center;
}

/* Projects Page */
.projects-page {
    display: flex;
    align-items: center;
}

.project-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.proj-box {
    border: 2px solid;
    width: 25vw;
    min-height: 100%;
    text-align: center;
}

/* about me section */


